
*{
    margin: 0;
    padding: 0;
}
nav ul{
    list-style-type: none;
}

nav{
    background-color:rgb(86, 54, 54);
    color:white;
    height: 71px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamecontainer{
    background-color: yellow;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    margin-top: 50px;;
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family:'Roboto',sans-serif;
    margin-bottom: 50px;
    position: relative;
}
.box{
   border: 3px solid black; 
   font-size:7vw;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box:hover{
    background-color: #ef2342b0;
}

.gameinfo{
    padding:45px 60px;
    margin-top: 34px;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.bt-0{
    border-top: none;
}
.bl-0{
    border-left: none;
}
.br-0{
    border-right: none;
}
.bb-0{
    border-bottom: none;
}

#reset{
    margin-top: 20px;
    margin-left: 20px;
    font-size:3vw;
    padding: 20px;
    cursor: pointer;
}

#reset:hover{
    background-color:lightgreen;
}

.info{
    font-size: 50px;
}
h1 {
    font-weight: bold;
    color: #f40606;
    font-size: 4rem;
  } 

  .line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}